:root {
  --background-color1: #e8d595;
  --background-color2: #e7cba9;
  --accent-color1: #e9bbb5;
  --accent-color2: #8da47e;
}

body {
  background: linear-gradient(
      to bottom right,
      var(--background-color1),
      var(--background-color2)
    )
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

footer {
  font-size: small;
}

h1 {
  font-weight: 900;
  color: var(--accent-color2);
  margin-bottom: 2rem;
}

main {
  margin: 0 auto;
}

.App {
  font-family: "Ubuntu", sans-serif;
}

.App img {
  width: 150px;
  height: 100%;
  margin: 2rem;
}

.App a {
  text-decoration: none;
  color: black;
  color: var(--accent-color2);
  font-weight: 900;
  transition: all 200ms ease-in-out;
}

.App a:hover {
  text-decoration: none;
  color: var(--accent-color1);
  font-weight: 900;
}
