:root {
  --background-color1: #e8d595;
  --background-color2: #e7cba9;
  --app-color: #aad9cd;
  --accent-color1: #e9bbb5;
  --accent-color2: #8da47e;
}

body {
  background: linear-gradient(
      to bottom right,
      var(--background-color1),
      var(--background-color2)
    )
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.App {
  font-family: "Ubuntu", sans-serif;
}

.App img {
  width: 10%;
  margin: 5rem;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover {
  text-decoration: none;
  color: var(--accent-color2);
  font-weight: 900;
}
